logging:
  level:
    org:
      springframework:
        web: debug
spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: test@gmail.com
    password: test
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
security:
  key: dfslkdsklcnlkeaowsekncdsdascmewansodicnewsdgwg2143edsc
  token-access: 10000000
  token-refresh: 2039482309480
s3:
  access-key: 12341234
  secret-key: 12341234
  bucket-name: 12341234
cloud-front:
  url: 12341234

